<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <link th:href="@{/css/boardDtl.css}" rel="stylesheet" />
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });

        const target = document.getElementById("commentSave")
        target.addEventListener('click', function(){
            let data = {
                content: document.getElementById("commentContent").value,
                boardId : [[${boardId}]]
            };

            console.log(data.content);
            console.log(data.boardId);

            $.ajax({
                type:"POST",
                url:"/comment/new",
                data:JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType:"json"
            }).done(function(response){
                document.getElementById("comment--box").innerHTML = "";
                $('#comment--box').load(location.href+' #comment--box');
            }).fail(function (request, error){
                alert(JSON.stringify(error));
                alert(request.responseText);
            });
        })


    </script>
</th:block>

<div layout:fragment="content">
    <!-- Page content-->
    <div class="container mt-5" th:object="${boardDtlDto}">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="button" th:onclick="|location.href='/board/update/'+${boardId}+''|">수정</button>
            <!-- 링크 부분에 @{}와 ${} el부분 같이 쓰면 이동이 안되는 현상 발생 -> onclick="location.href=&#39;/delete/&#39;+${boardId}+&#39;&#39;-->
            <button class="btn btn-primary" type="button" th:onclick="|location.href='/board/delete/'+${boardId}+''|">삭제</button>
        </div>
        <div class="row">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="*{title}">Title 정보</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" th:text="*{regDate}">작성 날짜 정보</div>
                </header>
                <!-- Post content-->
                <section class="mb-5" >
                    <p class="fs-5 mb-4" th:text="*{content}">본문 내용</p>
                </section>
            </article>
            <section class="mb-5">
                <!-- Comment form-->
                <div class="card bg-light">
                    <div class="card-body">
                        <textarea id=commentContent class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                    </div>
                    <div class="card-footer d-grid gap-2 col-6 mx-auto">
                        <button type="button" id="commentSave" class="btn btn-primary">등록</button>
                    </div>
                </div>
                <br />
                <div class="card bg-light">
                    <div class="card-header">댓글리스트</div>
                    <ul id="comment--box" class="list-group" th:each="comment : ${commentDtoList}">
                        <li id="comment--1" class="list-group-item d-flex justify-content-between">
                            <div th:text="${comment.content}">댓글 내용</div>
                            <div class="d-flex">
                                <div th:text="|작성자 : ${comment.username}|">작성자 : 박정호</div>
                                <button>수정</button>
                                <button>삭제</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>

</html>