<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      #title {
          margin-top: 3rem;
          text-align: center;
          font-family: "Do Hyeon", sans-serif;
          font-weight: bold;
          color: #4f5050;
      }


    </style>
</head>
<body>
    <div layout:fragment="content">
        <h2 id="title">기부이벤트 등록</h2>

        <form role="form" method="post" enctype="multipart/form-data" th:object="${ffd}" ></form>





    </div>
</body>
</html>