<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      #title {
          margin-top: 3rem;
          text-align: center;
          font-family: "Do Hyeon", sans-serif;
          font-weight: bold;
          color: #4f5050;
          margin-bottom: 3rem;
      }
      form {
          font-family: "DO Hyeon", sans-serif;
          color: #4f5050;
          text-align: center;
      }
      .form-group {
          margin: 0 auto;
          width: 30rem;
      }
      .fieldError {
          color: red;
      }
    </style>
</head>
<div layout:fragment="content">
    <h2 id="title">기부이벤트 등록</h2>
    <form role="form" method="post" enctype="multipart/form-data" th:object="${donationFormDto}">
        <div class="form-group">
            <label th:for="name">기부 제목</label>
            <input type="text" th:field="*{donationTitle}" class="form-control" placeholder="기부 제목을 입력해주세요.">
            <p th:if="${#fields.hasErrors('donationTitle')}" th:errors="*{donationTitle}" class="fieldError">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="content">기부 상세 내용</label>
            <textarea th:field="*{donationContent}" class="form-control" rows="5" placeholder="기부 상세 내용을 입력하세요."></textarea>
            <p th:if="${#fields.hasErrors('donationContent')}" th:errors="*{donationContent}" class="fieldError">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="money">기부 목표 금액</label>
            <input type="number" th:field="*{targetMoney}" class="form-control" placeholder="기부 목표 액수를 입력하세요.">
            <p th:if="${#fields.hasErrors('targetMoney')}" th:errors="*{targetMoney}" class="fieldError">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="detail">기부 관련 사진</label>
            <input type="file" th:field="*{donationImgFiles}" class="form-group" multiple="multiple">
            <p th:if="${#fields.hasErrors('donationImgFiles')}" th:errors="*{donationImgFiles}" class="fieldError">Incorrect data</p>
        </div>
        <button type="submit" class="btn btn-primary">작성 완료</button>
    </form>
</div>
</html>