<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      form {
          font-family: "DO Hyeon", sans-serif;
          color: #4f5050;
          text-align: center;
      }
      article {
          text-align: center;
      }
      .modal{
          position: absolute;
          width: 100%;
          height: 100%;
          background: white;
          border-style: solid;
          border-color: #4f5050;
          top: 0;
          left: 0;
          text-align: center;
          display: none;
      }
    </style>
</head>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(function (){
            $("#donationButton").click(function (){
                $(".modal").fadeIn();
            })

            $("#cancelButton").click(function (){
                $(".modal").fadeOut();
            })
        })
    </script>
</th:block>
<div layout:fragment="content">
    <!-- Page content-->
    <div class="container mt-5" th:object="${donationDtlDto}">
        <div class="row">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="*{title}">Title 정보</h1>
                    <!-- Post meta content-->
<!--                    <div class="text-muted fst-italic mb-2" th:text="*{regDate}">작성 날짜 정보</div>-->
                </header>
                <!-- Post content-->
                <section class="mb-5" >
                    <p class="fs-5 mb-4" th:text="*{content}">본문 내용</p>
                    <div th:each="imgName : ${donationDtlDto.imgNameList}">
                        <img th:src="'/images/' + ${imgName}" alt="" height="400">
                    </div>
                    <hr>
                    <p id="currentMoney" th:text="|현재 기부 총액  *{currentMoeny}원|"></p>
                    <p id="targetMoney" th:text="|기부 목표 금액 *{targetMoney}원|"></p>
                    <button class="btn btn-primary" id="donationButton" th:text="기부하기">기부버튼</button>
                    <form action="">
                        <label for="moneyInput" >기부할 금액</label>
                        <input id="moneyInput" type="number">
                    </form>
                </section>
            </article>
        </div>
    </div>
    <div class="modal">
        <div class="modal_content">
            <h1>기부금 결제</h1>
            <button id="cancelButton" th:text="X">취소</button>
        </div>
    </div>
</div>
</html>